<div class="container d-flex justify-content-center">
    <div class="form-wrapper p-5 m-5 shadow rounded">
<form [formGroup]="novoCurso" (ngSubmit)="onSubmit()" class="d-flex flex-column align-items-center">
    <p>Seja bem-vindo(a)!</p>
    <h2>Adição de novos Curso</h2>
    
    <div class="mb-3">
        <label for="nome" class="form-label">Nome do curso</label>
        <input type="text" formControlName="nome" id="nome" class="form-control">
        <small class="text-danger" *ngIf="nome?.touched && nome?.invalid">
            <span *ngIf="nome?.hasError('required')" >Curso obrigatório</span>
        </small>
    </div>
    
  

</form>