<div class="container ">
    <div class="form-wrapper p-5 m-5 shadow rounded">
        <form [formGroup]="novoCursoForm">
            <img class="top" src="assets/logo.png" alt="Logo da aplicação" style="width: 260px; margin-top: 0%;">
            <h2>Adição de novos Curso</h2>
            <p>Seja bem-vindo(a)!</p>
            <mat-form-field class="addCursos-align w-100" appearance="fill">
                <mat-label>Nome do curso</mat-label>
                <input matInput placeholder="Nome do curso" type="text" formControlName="nomeDoCurso" required>
                <mat-error *ngIf="novoCursoForm.get('nomeDoCurso')?.errors?.['required']">Campo obrigatório
                </mat-error>
                <mat-icon matPrefix>import_contacts</mat-icon>
            </mat-form-field>

            <mat-form-field class="addCursos-align w-100" appearance="fill">
                <mat-label>Área do curso</mat-label>
                <input matInput placeholder="Área do curso" type="text" formControlName="areaDoCurso" required>
                <mat-error *ngIf="novoCursoForm.get('areaDoCurso')?.errors?.['required']">Campo obrigatório
                </mat-error>
                <mat-icon matPrefix>auto_stories</mat-icon>
            </mat-form-field>

            <mat-form-field class="addCursos-align w-100" appearance="fill">
                <mat-label>Nível do curso</mat-label>
                <input matInput placeholder="Nível" type="text" formControlName="nivel" required>
                <mat-error *ngIf="novoCursoForm.get('nivel')?.errors?.['required']">Campo obrigatório
                </mat-error>
                <mat-icon matPrefix>edit</mat-icon>
            </mat-form-field>

            <mat-form-field class="cursos-align w-100" appearance="fill">
                <mat-label>Descrição do curso</mat-label>
                <textarea matInput></textarea>
                <input matInput placeholder="Descrição do curso" type="text" formControlName="descricaoDoCurso" required>
                <mat-error *ngIf="novoCursoForm.get('descricaoDoCurso')?.errors?.['required']">Campo obrigatório
                </mat-error>
                <mat-icon matPrefix>assignment</mat-icon>
            </mat-form-field>

            <mat-form-field class="addCursos-align w-100" appearance="fill">
                <mat-label>Carga horária</mat-label>
                <input matInput placeholder="Carga horária" type="number" formControlName="cargaHoraria" required>
                <mat-error *ngIf="novoCursoForm.get('cargaHoraria')?.errors?.['required']">Campo obrigatório
                </mat-error>
                <mat-icon matPrefix>schedule</mat-icon>
            </mat-form-field>

            <mat-form-field class="addCursos-align w-100" appearance="fill">
                <mat-label>Valor do curso</mat-label>
                <input matInput placeholder="Valor do curso" type="text" formControlName="valorDoCurso" required>
                <mat-error *ngIf="novoCursoForm.get('valorDoCurso')?.errors?.['required']">Campo obrigatório
                </mat-error>
                <mat-icon matPrefix>attach_money</mat-icon>
            </mat-form-field>

            <mat-form-field class="login-align w-100" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Seu email" formControlName="email" required>
                <mat-error *ngIf="novoCursoForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error>
                <mat-error *ngIf="novoCursoForm.get('email')?.errors?.['email']">Email inválido</mat-error>
                <mat-icon matPrefix>person</mat-icon>
            </mat-form-field>
            <mat-form-field class="login-align w-100" appearance="fill">
                <mat-label>Senha de adição do curso</mat-label>
                <input matInput [type]="ocultar ? 'password' : 'text'" placeholder="Sua senha" formControlName="senha"
                    type="text" required>
                <mat-error *ngIf="novoCursoForm.get('senha')?.errors?.['required']">Campo obrigatório</mat-error>
                <mat-error *ngIf="novoCursoForm.get('senha')?.errors?.['minlength']">O mínimo são 8 caracteres</mat-error>
                <mat-icon matPrefix>key</mat-icon>
                <button mat-icon-button matSuffix (click)="ocultar = !ocultar" [attr.aria-label]="'password'"
                    [attr.aria-pressed]="ocultar">
                    <mat-icon>{{ocultar ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

        <button (click)="onImagem()" type="button" mat-raised-button color="warn">
            <mat-icon>upload</mat-icon>
            Imagem do slogan do curso
        </button><br />
        <button (click)="onSubmit()" type="button" mat-raised-button color="primary">
            Adicionar
        </button>
    </form>
    </div>
</div>