<div class="container">
    <div class="card mb-3">
        <img src="assets/banner-promocoes.png" class="card-img-top" alt="..."  >
      </div>

</div>
<div class="lista">
    <div *ngFor="let listaDeCursos of array" class="filho" >
        <img [src]="listaDeCursos.imagem" class="img" alt="Imagens dos cursos">
        <div class="card-body">
            <h4 class="card-title">{{listaDeCursos.nomeDoCurso}}</h4>
            <h4 class="card-title">{{listaDeCursos.areaDoCurso}}</h4>
            <h4 class="card-title">{{listaDeCursos.nivel}}</h4>
            <h4 class="card-title">{{listaDeCursos.cargaHoraria}}</h4>
            <h4>
                <p class="card-text">{{listaDeCursos.descricao}}
                </p>
            </h4>
            <h3 class="text-success"  [ngClass]="{'text-muted riscado': listaDeCursos.emPromocao}">{{listaDeCursos.valor
                |
                currency:"BRL"}}
            </h3>
            <div *ngIf="listaDeCursos.emPromocao">
                <h3 class="text-success">{{valorDesconto(listaDeCursos) | currency:"BRL"}}</h3>
                <h3 class="tom"><span class="badge bg-success">{{listaDeCursos.desconto | percent}} OFF</span></h3>
            </div>
            <br>
            <button (click)="onComprar(listaDeCursos)" class="btn btn-primary">Comprar</button>
        </div>
    </div>
</div>
