<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="m-1">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input formControlName="email" id="email" type="email" class="form-control">
        <small class="text-danger" *ngIf="email?.touched && email?.invalid">
            <span *ngIf="email?.hasError('required')">O email é obrigatório</span>
            <span *ngIf="email?.hasError('email')">Insira um E-mail válido</span>
            <span *ngIf="email?.hasError('onlysoulcode')">Insira um domínio válido</span>
        </small>
    </div>
    <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input formControlName="senha" id="senha" type="password" class="form-control">
        <small class="text-danger" *ngIf="senha?.touched && senha?.invalid">
            <span *ngIf="senha?.hasError('required')">A senha é obrigatório</span>
            <span *ngIf="senha?.hasError('minlength')">O mínimo é 8 caracteres</span>
        </small>
    </div>
    <button class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
</form>
