<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="assets/banner-promocoes.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/banner-python.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>
<div>
  <h1 class="titulo"> <strong>Bem vindo(a) a +Mais cursos!</strong></h1>
  <div>
    <p class="to">
      Somos uma empresa que leva a sério o seu aprendizado, atendendo quem tem vontade de se capacitar e dar um "up"
      no seu conhecimento. Estamos no seguimento de cursos como uma das maiores empresas do setor de serviços de
      capacitação EAD.
    </p>
  </div>
</div>
<div class="estudante">
  <img src="assets/foto-navbar.png" class="d-b" alt="...">
</div>
<p class="to">
  Também estamos no seguimento de anúncio de cursos, onde
  as empresas podem divulgar seus cursos na nossa plataforma, e aqui o cliente está no centro de tudo o que fazemos.
  Procuramos proativamente fornecer o melhor serviço para nossos clientes e agregar valor,
  levamos o conhecimento muito a sério, onde combinamos a fome do saber com as ferramentas digitais e a nossa vasta
  experiência em relacionamento com o consumidor, para fornecer a melhor experiência possível dos nossos serviços para
  que seja valioso tanto para os alunos e também para as empresas.
</p>
<div class="empresa">
  <img src="assets/empresas.jpg" class="t-b" alt="...">
</div>
