.ouro{
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  margin-top: 70px;
  color: blue;
}

.carousel{
  display: flex;
  align-items: center;
  justify-content:center ;
  flex-wrap: wrap;
  width: 30%;
  height: 40%;
  margin-left: 33%;

}


.loglog{
  display: flex;
  justify-content: center;
  

}

.t-log{
  width: 300px;
  height: 300px;
  border: solid blue 5px;
  border-radius: 25px;
  margin-top: 100px;
  margin-bottom: 100px;
}


.titulo{
    text-align:center;
}


.to{
  display: flex;
  border: solid 5px blue;
  border-radius: 10px;
  width: 70%;
  margin-left: 13%;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
}

.d-b{
  margin-left: 35%;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 500px;
  height: 350px;
  border: solid 1px;
  border-radius: 25px;
}


